body {
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 5px 5px 22px 3px rgba(186, 182, 186, 0.31);
  }
  #description {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    flex-direction: row;
  }
  #description {
    width: 50%;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    flex-direction: row;
  }
  #description {
    width: 50%;
  }
}
.bread{
  height:100px;
  width: 50px;
  background-color: blue;
}